* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    min-height: 30vh;
    display: flex;
    display: inline-block;
    background-image: url(./assets/design2_image1.jpg);
    width: 100%;
    vertical-align:middle;

}

nav {
    background-color: #b84242;
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-start;
    border: 2px solid black;
}

nav>a {
    font-size: 28px;
    background-color: #b84242;
    color: white;
    padding: 2px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
    border-left: 3px solid black;
    text-decoration: none;
}

nav>a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #ffffff;
    color: black;
    font-weight: bolder;
    box-shadow: 2px 2px 7px 1px black;
    border: 1px solid black;
    text-decoration: none;
}

header figure {
    justify-content: flex-start;
    align-self: center;
    display: inline-flex;
    padding: 1rem;
}

#logo {
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 3rem;
    height: 15rem;
}

h1 {
    font-size: 3rem;
    padding: 0.5rem;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.489);
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 5rem;
    display: inline-flex;
}

main {
    background-color: rgb(255, 243, 219);
    min-height: 60vh;
}
.box {
    width: 100%;
    border: 2px solid black;
    text-align: center;
    align-self: baseline;
    background-color: #b84242;
    padding: 8px;
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    padding: 15px;
    margin-bottom: 0.5rem;
    display: flex;
    min-width: 60%;
    max-width: 60%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(253, 200, 101, 0.555);
    border-radius: 1rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.443);
}

article ol {
    padding: 15px;
}

section p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

table {
    background-color: rgb(254, 255, 240);
    height: 20vh;
    width: 40rem;
    table-layout: auto;
    border-collapse: collapse;
}

table caption {
    text-align: left;
}

table,
th,
td {padding: 0.5rem;
    border: 2px solid;
    border-color: black;
    text-align: center;
}

th {padding: 0.5rem;
    background-color: #37a580;
    color: aliceblue;
}

.letra {
    list-style-type: lower-latin;
}

figure {
    display: flex;
    padding: 3rem;
    gap: 3rem;
    justify-content: center;
}


.gallery {
    height: 100px;
    border: solid 2px #b84242;
    box-sizing: border-box;

}

.gallery:hover {
    transform: matrix(5, 0, 0, 5, 50, -200);
}
iframe {
    height: 200px;
    width: 200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width:80%;
    border: 2px solid ;
    border-radius: 1rem;
    padding: 1rem;
}
legend {
    font-weight: bolder;
}


@media (max-width:1142px){
    
    main {
        min-height: 80vh;
    }
    header {
        min-height: 20vh;
    }
    #logo {
        height: 10rem;
    }
    
    nav>a {
        font-size: 25px;
    }
    h1{
        font-size: 35px;
    }
}
@media (max-width:1065px){
    main {
        min-height: 80vh;
    }
    header {
        min-height: 20vh;
    }
    #logo {
        height: 9rem;
    }
    
    nav>a {
        font-size: 18px;
    }
    h1{
        font-size: 30px;
    }
}
@media (max-width:1065px){
    main {
        min-height: 80vh;
    }
    header {
        min-height: 20vh;
    }
    #logo {
        height: 9rem;
    }
    
    nav>a {
        font-size: 13px;
    }
    h1{
        font-size: 30px;
    }
}

@media (max-width:600px){
   
    header {
        min-height: 15vh;
    }
   
    #logo {
        height: 8rem;
    }
    nav {
        flex-shrink:initial;
        align-self: baseline;
    }
    nav>a {
        font-size: 8px;
    }
    h1{
        font-size: 20px;
    }
    main {
        min-height: 90vh; 
    }
    h2{
        font-size: 20px;
    }
    .box {
        width: 100%;
        text-align: center;
        align-self: baseline;
    }
    
    table {
        height: 10vh;
        width: 30rem;
    }
    .gallery {margin-top: 20px;
        padding: 0px;
        display:flex
    }
    iframe {
        height: 100px;
        width: 100px;
    }
}

