* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif !important;
    line-height: 1.2 !important;
}

header {
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url(./assets/design2_image1.jpg);
    background-size: cover;
    background-position-y: -130px;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem
}

.navbar-nav {
    /* 
    position: fixed;
    top: 0; */
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: space-around !important;
    margin: 0 !important;
    padding: 0 !important;
    height: fit-content !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 5vh;
    background-color: #469d89;
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-start;
    border: 2px solid #053127;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
    margin-bottom: 0 !important;
}

.navbar-expand-lg {
    margin: 0 !important;
    padding: 0 !important;
    height: fit-content !important;
}

.h2,
h2 {
    font-size: 20px !important;
}

.h3,
h3 {
    font-size: 19px !important;
    margin-bottom: 0 !important;
}

.h4,
h4 {
    font-size: 17px !important;
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

a {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content !important;

}

.btn {
    margin: 0 !important;
    padding: 0 !important;
    height: fit-content !important;
    transition: none !important;
}

nav .btn:hover {
    background-color: #10634f;
    color: white;
    border-radius: 0;
    border-bottom: solid 3px #10634f;
    transition: none !important;
}

.active {
    background-color: #ffffff;
    color: black !important;
    font-weight: bolder;
    box-shadow: 2px 2px 7px 1px black;
    border: 1px solid #053127;
}


li a {
    text-decoration: none;
    outline: none;
    color: white !important;
}


li>a {
    color: white;
    padding: 2px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-item {
    padding: 0
}

.logo {
    display: flex;
    padding: 1rem;
    height: fit-content;
    margin: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.404);
    justify-content: flex-start;
}

#logo {
    display: flex;
    align-self: center;
    height: 12rem;
}

h1 {
    font-size: 3rem !important;
    padding: 1rem;
    color: rgb(252, 216, 60) !important;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 5rem;
    display: flex;
    align-self: center;
}

main {

    display: flex;
    flex-direction: column;
    align-content: center;
}

.box {
    width: 100%;
    border: 2px solid #053127;
    text-align: center;
    background-color: #469d89;
    padding: 8px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    padding: 15px;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    background-color: rgb(252, 216, 60);
    border-radius: 1rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.443);
}

.about {
    width: 800px;
}

.rules {
    width: 900px;
    margin-bottom: 1rem;
    padding-left: 25px;
}

.allplay {
    padding-left: 25px;
}

.listnumero {
    padding-left: 50px;
}

.letra {
    list-style-type: lower-latin;
}

.lista1 {
    list-style: square inside;
    ;
}

.gameInfo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1rem
}

.info {
    width: 650px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.info2 {
    width: 260px;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-content: center;
}

article ol {
    padding: 15px;
}

section p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

table {
    background-color: rgb(254, 255, 240);
    height: 20vh;
    width: 40rem;
    table-layout: auto;
    border-collapse: collapse;
}

table caption {
    text-align: left;
    caption-side: top;
}

table,
th,
td {
    padding: 0.5rem;
    border: 2px solid;
    border-color: black;
    text-align: center;

}

th {
    padding: 0.5rem;
    background-color: rgb(252, 216, 60);
    color: black;
}


figure {
    display: flex;
    padding: 3rem;
    gap: 3rem;
    justify-content: center;
}


.gallery1 {
    width: 150px;
    border: solid 2px #469d89;
    box-sizing: border-box;
    object-fit: cover;
}

.gallery2 {
    width: 150px;
    border: solid 2px #469d89;
    box-sizing: border-box;
    object-fit: cover;
}

.gallery3 {
    width: 150px;
    border: solid 2px #469d89;
    box-sizing: border-box;
    object-fit: cover;
}

.gallery1:hover {
    box-shadow: 0px 0px 4px 2px #a6f8e5;
}

.gallery2:hover {
    box-shadow: 0px 0px 4px 2px #a6f8e5;
}

.gallery3:hover {
    box-shadow: 0px 0px 4px 2px #a6f8e5;
}

.gallery1:active {
    transform: matrix(5, 0, 0, 5, 200, -200);
}

.gallery2:active {
    transform: matrix(5, 0, 0, 5, 0, -200);
}

.gallery3:active {
    transform: matrix(5, 0, 0, 5, -200, -200);
}

iframe {
    height: 200px;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


fieldset {
    width: 73%;
    border: 2px solid black !important;
    border-radius: 1rem;
    padding: 1rem !important;
    background-color: rgb(252, 216, 60);
    margin-bottom: 0.5rem !important;
}


/* fieldset, */
legend {
    all: revert !important;
    font-weight: bolder !important;
    border: solid 2px black !important;
    background-color: rgb(252, 216, 60) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border-radius: 1rem !important;
    width: auto !important;
}

legend {
    float: none;
    width: inherit;
}

.submit {
    background-color: #469d89;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
}

.submit:hover {
    box-shadow: 0px 0px 2px 4px #a6f8e5;
}

input {
    border: solid 2px #469d89;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 0px 2px 4px #a6f8e5;
    border: solid 1px #469d89;
    border-radius: 3px;
}

.formd {
    margin-bottom: 0.5rem;
}

@media (min-width:350px) {

    header {
        min-height: 20vh;
        gap: 1px;
        background-size: cover;
        background-position-y: -130px;
    }

    .logo {
        padding: 6px;
        margin: 8px;
    }

    #logo {
        height: 4rem;
    }

    h1 {
        font-size: 15px !important;
        padding: 8px;
    }

    h2 {
        font-size: 15px !important;
        padding: 8px;
    }

    h3 {
        font-size: 15px !important;
        padding: 8px;
    }

    h4 {
        font-size: 14px !important;
        padding: 8px;
    }

    p {
        font-size: 14px !important;
        padding: 8px;
    }

    nav {
        flex-shrink: initial;
        align-self: baseline;
    }

    nav>a {
        font-size: 11px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery1:active {
        transform: matrix(2, 0, 0, 2, 0, 10);
    }

    .gallery2:active {
        transform: matrix(2, 0, 0, 2, 0, 10);
    }

    .gallery3:active {
        transform: matrix(2, 0, 0, 2, 0, -50);
    }

    .box {
        width: 100%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .about {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .rules {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    table {
        height: 10vh;
        width: auto;
        font-size: 10px;
    }

    iframe {
        height: 200px;
        width: 200px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .info {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .info2 {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 5px;
    }

    .info2 a {
        font-size: 14px;
    }

}

@media (min-width:400px) {

    header {
        max-height: 15vh;
    }

    .logo {
        padding: 6px;
        margin: 8px;
    }

    #logo {
        height: 4rem;
    }

    h1 {
        font-size: 18px !important;
    }
}

@media (min-width:600px) {

    header {
        max-height: 15vh;
    }

    .logo {
        padding: 6px;
        margin: 8px;
    }

    #logo {
        height: 6rem;
    }

    h1 {
        font-size: 25px !important;
        padding: 8px;
    }

    .gallery1:active {
        transform: matrix(3, 0, 0, 3, 50, -100);
    }

    .gallery2:active {
        transform: matrix(3, 0, 0, 3, -50, -100);
    }

    .gallery3:active {
        transform: matrix(3, 0, 0, 3, 0, -150);
    }

    .box {
        width: 100%;
    }

    .about {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .rules {
        width: 500px;
        margin-bottom: 1rem;
    }

    table {
        height: 15vh;
        width: 35rem;
    }

    .tablemaps {
        width: auto !important;
    }

    iframe {
        height: 200px;
        width: 200px;
    }

    .mapas {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .info {
        width: 500px;
        display: flex;
    }

    .info2 {
        width: 180px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }
}

@media (min-width:642px) {
    .gallery1:active {
        transform: matrix(3, 0, 0, 3, 130, -110);
    }

    .gallery2:active {
        transform: matrix(3, 0, 0, 3, 00, -110);
    }

    .gallery3:active {
        transform: matrix(3, 0, 0, 3, -130, -110);
    }
}

@media (min-width:992px) {
    nav ul>li>a {
        font-size: 18px !important;
    }

}

@media (min-width:1000px) {
    header {
        min-height: 20vh;
    }

    #logo {
        height: 9rem;
    }

    nav>a {
        font-size: 18px;
    }

    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h3 {
        font-size: 19px !important;
    }

    h4 {
        font-size: 17px !important;
    }

    p {
        font-size: 15px !important;
    }

    .gallery1:active {
        transform: matrix(4, 0, 0, 4, 200, -200);
    }

    .gallery2:active {
        transform: matrix(4, 0, 0, 4, 0, -200);
    }

    .gallery3:active {
        transform: matrix(4, 0, 0, 4, -200, -200);
    }

    table {
        height: 20vh;
        width: 40rem;
        font-size: 16px;
    }

    iframe {
        height: 200px;
        width: 200px;
    }

    .about {
        width: 800px;
    }

    .rules {
        width: 900px;
        margin-bottom: 1rem;
    }
    .tablemaps {
        flex-wrap: wrap;
}

@media (min-width:1300px) {
    header {
        min-height: 30vh;
    }

    nav ul li>a {
        font-size: 28px !important;
    }

    #logo {
        height: 12rem;
    }

    nav>a {
        font-size: 28px;
    }

    h1 {
        font-size: 3rem !important;
    }

    .logo {
        padding: 1rem;
        margin: 2rem;
    }
}
}